<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body class="page">
    <%- include('block/face') %>
    <%- include('block/demo') %>
    <%- include('block/vision') %>
    <%- include('block/causes') %>
    <%- include('block/help') %>
    <%- include('block/nano') %>
    <%- include('block/study') %>
    <%- include('block/event') %>
    <%- include('block/professional') %>
    <%- include('block/commits') %>
    <%- include('block/info') %>
    <section class="section section_face js-section_face">
        <div class="container">
            <div class="face">
                <div class="face__logo">Visiol</div>
                <div class="face__body">
                    <div class="face__box face__box_first">
                        <div class="section__title face__title" data-aos="fade-right"><span>взгляните</span> на мир <mark>по-новому</mark></div>
                        <div class="face__list">
                            <div class="face__item" data-aos="fade-right" data-aos-duration="100">
                                <div class="face__item-txt"><mark>Останавливает</mark> процесс дегенерации хрусталика</div>
                            </div>
                            <div class="face__item" data-aos="fade-right" data-aos-duration="200">
                                <div class="face__item-txt"><mark>Укрепляет</mark> глазные мышцы</div>
                            </div>
                            <div class="face__item" data-aos="fade-right" data-aos-duration="300">
                                <div class="face__item-txt"><mark>Нормализует</mark> внутриглазное давление</div>
                            </div>
                            <div class="face__item" data-aos="fade-right" data-aos-duration="300">
                                <div class="face__item-txt"><mark>Поворачивает</mark> процесс потери зрения вспять</div>
                            </div>
                            <div class="face__list-description"><span>100% натуральный состав </span><span>Без побочных эффектов</span> <span>Действие доказано клинически</span></div>
                        </div>
                        <div class="face__product"><img src="../media/product.png" alt=""></div>
                    </div>
                    <div class="face__box">
                        <div class="form" data-aos="fade-left">
                            <div class="form__title"><span>Заказать Visiol </span> прямо сейчас</div>
                            <div class="form__price">
                                <div class="form__price-old">78 euro</div>
                                <div class="form__price-new">39 euro</div>
                            </div>
                            <div class="form__body">
                                <label class="form__label">
                                    <select class="form__field form__select">
                                        <option selected="" value=""></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                    <span>Страна</span>
                                </label>
                                <label class="form__label">
                                    <input type="text" class="form__field">
                                    <span>Имя</span>
                                </label>
                                <label class="form__label">
                                    <input type="text" class="form__field">
                                    <span>Телефон</span>
                                </label>
                            </div>
                            <div class="form__time">
                                <div class="form__time-title">До конца акции осталось:</div>
                                <div class="form__time-box">
                                    <div class="form__time-count">
                                        <span>00</span>
                                        <span>часов</span>
                                    </div>
                                    <span>:</span>
                                    <div class="form__time-count">
                                        <span>21</span>
                                        <span>минут</span>
                                    </div>
                                    <span>:</span>
                                    <div class="form__time-count">
                                        <span>48</span>
                                        <span>секунд</span>
                                    </div>
                                </div>
                            </div>
                            <button class="form__btn">Купить со скидкой</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="section section_footer">
        <div class="container">
            <span>Global Partners LTD</span>
        </div>
    </footer>
    <%- include('block/script') %>
</body>

</html>