<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body class="page">
    <%- include('block/face') %>
    <%- include('block/demo') %>
    <%- include('block/vision') %>
    <%- include('block/causes') %>
    <%- include('block/help') %>
    <%- include('block/nano') %>
    <%- include('block/study') %>
    <%- include('block/event') %>
    <%- include('block/professional') %>
    <%- include('block/commits') %>
    <footer class="section section_footer">
        <div class="container">
            <span>Global Partners LTD</span>
        </div>
    </footer>
    <%- include('block/script') %>
</body>

</html>